<app-ud-card [type]="cardTypes.ONLY_BODY"  [classes]="'mt-4'">
  <ng-container card-body-2>
    <div class="relative flex flex-col rounded-xl bg-transparent">
      <h4 class="block text-xl font-medium text-slate-800">
        Sign Up
      </h4>
      <p class="text-slate-500 font-light">
        Nice to meet you! Enter your details to register.
      </p>
      <form [formGroup]="form" class="mt-8 mb-2">
        <div class="mb-1 flex flex-col">
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" placeholder="First Name " >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" placeholder="Last Name ">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email ID</mat-label>
            <input type="email" matInput formControlName="email" placeholder="E.g name@example.com">
          </mat-form-field>
          <!--<div class="w-full max-w-sm min-w-[200px]">
            <label class="block mb-2 text-sm text-slate-600">
              First Name
            </label>
            <input type="text" class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" placeholder="First Name" />
          </div>
          <div class="w-full max-w-sm min-w-[200px]">
            <label class="block mb-2 text-sm text-slate-600">
              Last Name
            </label>
            <input type="text" class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" placeholder="Last Name" />
          </div>
          <div class="w-full max-w-sm min-w-[200px]">
            <label class="block mb-2 text-sm text-slate-600">
              Email
            </label>
            <input type="email" class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" placeholder="Your Email" />
          </div>-->
          <mat-form-field class="example-full-width">
            <mat-label>Mobile Number</mat-label>
            <span matTextPrefix>+91 &nbsp;</span>
            <input type="text" maxlength="10" matInput placeholder="Mobile Number" formControlName="mobile">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Create Password</mat-label>
            <input matInput formControlName="npwd" placeholder="Create Password" (focus)="form.controls?.['cpwd']?.setValue(''); form.controls['cpwd'].markAsUntouched()">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="cpwd" placeholder="Confirm Password">
          </mat-form-field>
          @if (form.controls['cpwd'].errors?.['passwordsMismatch'] && form.controls?.['cpwd']?.touched) {
            <mat-error>
              Passwords do not match.
            </mat-error>
          }
        </div>
        <button (click)="signup()" [disabled]="form.invalid" class="mt-4 w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" matButton="filled" type="submit">Sign Up</button>
        <p class="flex justify-center mt-6 text-sm text-slate-600">
          Already have an account?
          <a [routerLink]="routes.LOGIN" class="ml-1 text-sm font-semibold text-slate-700 underline">
            Login
          </a>
        </p>
        <p class="flex justify-center mt-6 text-sm text-slate-600">
          <a [routerLink]="routes.HOME" class="ml-1 text-sm font-semibold text-slate-700 underline">
            Back
          </a>
        </p>
      </form>
    </div>
  </ng-container>
</app-ud-card>
