<ngx-spinner
bdOpacity="0.9"
 bdColor="rgba(0, 0, 0, 0.5)"
 size="medium"
 color="#fff"
type="ball-scale-multiple"
 template="<img class='w-[10rem]' src='https://cdn.pixabay.com/animation/2023/10/08/03/19/03-19-26-213_512.gif' />"
></ngx-spinner>
<router-outlet />
<div>
  <h1>{{ 'HOME.TITLE' | translate }}</h1>

  <button (click)="changeLanguage('en')">{{ 'BUTTON.CHANGE_LANGUAGE' | translate }} (English)</button>
  <button (click)="changeLanguage('fr')">{{ 'BUTTON.CHANGE_LANGUAGE' | translate }} (Français)</button>
</div>
