<app-ud-card [type]="cardTypes.ONLY_BODY">
  <ng-container card-body-2>
    <div class="relative flex flex-col rounded-xl bg-transparent">
      <h4 class="block text-xl font-medium text-slate-800">
        Login
      </h4>
      <p class="text-slate-500 font-light">
        Enter your details to login.
      </p>
      <form [formGroup]="form" class="mt-8 mb-2 w-full max-w-screen-lg sm:w-full">
        <div class="mb-1 flex flex-col gap-6">          
          <div class="w-full max-w-sm min-w-[200px]">
            <app-ud-input 
            [required]="true" 
            [controlName]="email" 
            [labelName]="'Email'"
            [type]="'email'" 
            [placeholder]="'Your Email'"
            ></app-ud-input>
          </div>
          <div class="w-full max-w-sm min-w-[200px]">
            <app-ud-input 
            [required]="true" 
            [controlName]="password" 
            [labelName]="'Password'"
            [type]="'password'" 
            [placeholder]="'Your Password'" 
            ></app-ud-input>
          </div>
        </div>
        <app-ud-checkbox
        [label]="'Remember Me'"
        (onChecked)="onChange($event)"
        ></app-ud-checkbox>
        <app-ud-button 
            [disabled]="form.invalid" 
            (onButtonClick)="login()" 
            [label]="'Login'"
        >          
        </app-ud-button>
        <p class="flex justify-center mt-6 text-sm text-slate-600">
          Don&apos;t have an account?
          <a [routerLink]="routes.SIGNUP" class="ml-1 text-sm font-semibold text-slate-700 underline">
            Sign up
          </a>
        </p>
        <p class="flex justify-center mt-6 text-sm text-slate-600">
          <a [routerLink]="routes.HOME" class="ml-1 text-sm font-semibold text-slate-700 underline">
            Back
          </a>
        </p>
      </form>
    </div>
  </ng-container>
</app-ud-card>
