<div class="flex flex-col">
  <div class="fixed top-0 right-0 py-3 left-0 flex flex-row justify-between px-[0.8rem] z-1 bg-white">
    <div class="w-[4rem]">
      <img src="/assets/images/bus-logo.png">
    </div>
    <div class="">
       <i class="las la-bars text-[1.5rem] text-blue-700  cursor-pointer" (click)="onOpenClick()"></i>
      <div class="top-menu flex flex-col gap-4 top-0 left-0 bg-white w-[100%] pl-[1rem] p-[2rem]  h-[100vh] absolute" [class]="mobileParams?.main?.showSideMenu?'':'hidden'">
        @for (item of menu; track item;let i=$index;) {
          <div class="flex flex-row gap-3 align-baseline">
              <i [class]="item.icon" class=" text-blue-700  "></i>
              <span class="cursor-pointer" (click)="onNameClicked(item)">{{item.name}}</span>
              @if(i===0){
              <div class="ml-auto mr-1"><i (click)="onCloseClick()" class="las la-times text-[1.5rem] text-blue-700 cursor-pointer"></i></div>
              }
          </div>
        }
      </div>
    </div>
  </div>
  <div>
    <router-outlet/>
  </div>
</div>
<app-footer></app-footer>
