<nav class="flex min-w-[240px] flex-col gap-3 p-2 font-sans text-base font-normal text-blue-gray-700!">
    @for (item of menuBar; track $index) {
        <div  
            *appHasEntitlement="item.uuid"
            [routerLink]="[item.path]" 
            routerLinkActive="dashboard-router-active-bg" 
            [routerLinkActiveOptions]="{ exact: false}" 
            class="menu-item text-blue-800"
            (click)="onMenuClick.emit()"
        >           
           <i [class]="item.icon" class="mr-4 text-[1.5rem]"></i> 
           <span class="text-[0.84rem] uppercase font-bold ">{{item.name}}</span>
        </div>
    }
  </nav>
