<div class="flex flex-row relative">
    <img src="/assets/images/bus-banner1.jpg" class="  grayscale-75 h-[25rem] object-cover"/>
    <div class="px-[4rem] w-full absolute bottom-[-6.5rem] left-0 top-[4rem]">
       <app-ud-card [type]="cardTypes.ONLY_BODY" [classes]="'rounded-2xl w-auto shadow-xl'">
          <ng-container card-body-2>
              <div class="relative   flex flex-col">
                <div class="relative w-full flex flex-col mt-1 rounded-2xl bg-white shadow-sm border border-slate-200  ">
                  <div class="flex flex-col pt-2">
                    <div class="flex flex-col px-4">
                      <div class="text-sm"><i class="las la-map-marker  font-bold text-[1.5rem]"></i>From</div>
                      <div class="text-[1rem] font-bold ml-4">Hyderabad</div>
                    </div>
                    <div class="flex flex-row justify-center">
                      <div class="bg-gray-800 rounded-full p-[0.4rem] w-[2rem] h-[2rem]">
                        <i class="las la-exchange-alt rotate-90 text-[1.2rem] text-white "></i>
                      </div>
                    </div>
                    <div class="flex flex-col px-4">
                      <div class="text-sm"><i class="las la-map-marker text-black  font-bold text-[1.5rem]"></i>To</div>
                      <div class="text-[1rem] font-bold ml-4">Vijayawada</div>
                    </div>                    
                    <div class="relative shadow-sm border border-slate-200"></div>
                    <div class="flex flex-col p-4">
                      <div class="flex flex-col gap-3">
                         <div class="flex flex-col">
                            <div class="text-sm"><i class="las la-calendar  font-bold text-[1.5rem]"></i>Date of Journey</div>
                            <div class="text-[1rem] font-bold">09 Aug, 2025</div>
                          </div>
                        <div class="flex flex-row gap-2">
                            <div class="rounded-4xl text-[0.8rem] bg-pink-200 py-2 px-5 border border-transparent font-bold text-black transition-all shadow-sm">
                              Today
                            </div>
                            <div class="rounded-4xl text-[0.8rem] bg-pink-200 py-2 px-5 border border-transparent font-bold text-black transition-all shadow-sm">
                              Tomorrow
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-row justify-center mt-2">
                     <button class="rounded-4xl text-[0.7rem]  bg-red-600 py-2 px-5 border border-transparent text-center  font-bold text-white transition-all shadow-md hover:shadow-lg focus:bg-red-700 focus:shadow-none active:bg-red-700 hover:bg-red-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                        Search Buses
                      </button>
                  </div>
              </div>
          </ng-container>
       </app-ud-card>
    </div>
</div>
<!-- <app-ud-icons></app-ud-icons> -->
<div class="flex flex-col px-[1rem] mt-[4rem] mb-2 gap-2">
  <div class="flex flex-row flex-wrap gap-[2rem]">
    <div class="text-[1rem] font-bold">Offers for you</div>
  </div>
  <div class="flex flex-row flex-wrap gap-[2rem]">
    @for (item of cardsList; track $index) {
      <div>
        <app-ud-card [type]="cardTypes.ONLY_BODY" [classes]="item.bgImage+' rounded-lg w-auto'">
          <ng-container card-body-2>
              <div class="relative   flex flex-col px-3 gap-4">
                  <div class="rounded-md bg-slate-800 py-0.5 px-2.5 w-12 h-auto border border-transparent font-bold text-white transition-all shadow-sm">
                    {{ item.pillName }}
                  </div>
                  <div class="text-xl font-bold">{{ item.title }}</div>
                  <div class="text-sm">{{ item.validity }}</div>
                  <div class="rounded-4xl mt-[2rem] bg-white py-3 mb-3 px-5 w-35 h-auto border border-pink-100 font-bold text-black transition-all shadow-sm">
                    {{ item.offerCode }}
                  </div>
              </div>
          </ng-container>
        </app-ud-card>
      </div>
    }
  </div>
  @if (false) {
    @for (item of [1]; track $index) {
      <app-ud-card [type]="cardTypes.FULL_PLAIN_CARD">
        <ng-container card-header>
            <span class="text-sm font-medium text-slate-600">
            Header for the card
          </span>
        </ng-container>
        <ng-container card-body>
          <h5 class="mb-2 text-slate-800 text-xl font-semibold">
            Website Review Check Update from Our Team in San Francisco
          </h5>
          <p class="text-slate-600 leading-normal font-light">
            The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to Naviglio where you can enjoy the main night life in Barcelona.
          </p>
        </ng-container>
        <ng-container card-footer>
          <span class="text-sm text-slate-600 font-medium">
            Last updated: 4 hours ago
          </span>
        </ng-container>
      </app-ud-card>
    }
  }
</div>
