<app-ud-card [type]="cardTypes.ONLY_HEADER_BODY" [classes]="'w-full'">
        <ng-container card-header-3>
            <div class="flex flex-row">
                <h5 class="card-heading uppercase">Add Permissions</h5>
            </div>
        </ng-container>
        <ng-container card-body-3>
            <div class="flex flex-col w-full">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Individual Permissions">
                        <app-individual-permissions></app-individual-permissions>
                    </mat-tab>
                    <mat-tab label="Role Wise Permissions">
                        <app-role-wise-permissions></app-role-wise-permissions>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </ng-container>
    </app-ud-card>