/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer base {
    .form-field-invalid {
        @apply invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500;
    }
    .text-field {
        @apply  w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2  focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow;
    }
    .ud-button{
        @apply cursor-pointer  rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
    }
    .menu-item{
        @apply cursor-pointer flex flex-row items-baseline  w-full p-3 leading-tight transition-all rounded-lg outline-none text-start bg-gray-200; 
    }
    .h-menu-item{
        @apply pl-3 pr-3 py-2 cursor-pointer rounded-[0.5rem] mb-2 bg-gray-200 text-blue-500 min-w-fit font-bold;
    }
    .card-heading{
        @apply mb-2 text-slate-800 text-xl font-semibold;
    }
}

.dashboard-router-active-bg{
    background-color: #b9e9f5;
}
/* width */
::-webkit-scrollbar {
    width: 0.3rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ebe6e7;
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ebe6e7;
}